html,
body{
  height: 100%;
}

body{
  @extend %quicksand-500;
  font-size: 16px;
  line-height: 26px;
  color: $default;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}
a{
  @extend %quicksand-500;
  font-size: 16px;
  line-height: 26px;
  color: $default;
}
.title{
  text-align: center;
  @extend %roboto-700;
  font-size: 48px;
  line-height: 66px;
  color: $title;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.text{
  text-align: center;
  max-width: 572px;
  margin: 0 auto 56px;
}